# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# LLVM output
*.ll
*.bc

# Code listing PS files
*.ps

*.c~

#Misc
asst2/asst2.pdf

#Qt Creator IDE stuff
*.creator.user

#Writeup stuff
*.docx#
**.docx
